*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: rgb(20,25,34);
    --gray:rgb(40,40,40);
    --green:rgb(173,255,47);
    --text: rgba(125, 127, 132, 1);
}

html{
    font-family: 'Gotham', sans-serif;
}

body{
    background-color: var(--blue);
    color: var(--text);
}

.upgrade-btn{
    height: 6rem;
    background-color:rgba(8, 11, 18, 0.4);
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    right: 0;
    left: 0rem;
}

.upgrade-btn button{
    border: 4px solid white;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    padding: 15px 50px;
    margin-right: 25px;
}


/* aside */
.side-nav{
    background-color:black;
    height: calc( 100vh - 6rem);
    width: 14rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-small{
    display: none;
}

.logo-big{
    width: 70%;
    margin-top: 10px;
}

.icone{
    display: flex;
    flex-direction:column ;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700;
}

.icone span{
    padding-top: 15px;
}

.icone span span{
    font-size: 20px;
    vertical-align: text-top;
}

.icone span:first-child{
    color: white;
}

.icone span img{
    width: 30px;

}

.playlist{
    margin-top: 30px;
}

.playlist h2{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.playlist span{
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.playlist span i{
    font-size: 50px;
    margin-right: 7px;
}

.playlist ul li{
    list-style: none;
    padding-top: 25px;
}

.install{
    font-size: 16px;
}

.install img{
    height: 20px;
    width: 20px;
    margin-right:10px ;
}

.content-bottom span:nth-child(odd){
    display: flex;
    margin-bottom: 10px;
}

hr{
    margin: 15px 0px;
    width: 90%;
}

.profile{
    color: white;
    font-size: 20px;
}

.profile img{
    background-color: var(--text);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right:10px ;
}


/* container main */
.main-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style:none;
}

.main-list li{
    margin-inline:30px ;
    color: var(--text);
    margin-top: 30px;
}

.main-list li:first-child::after{
    content: "";
    display: block;
    width: 40%;
    height: 5px;
    margin:5px auto;
    background-color: var(--green);
}

.main-list li a{
    text-decoration: none;
    color: var(--text);
}


.container{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    padding-top: 6rem;
    padding-left: 14rem;
    padding-bottom: 6rem;
}

.row{
    color: white;
    margin:40px 20px ;
}

.row h2{
    font-size: 35px;
    margin-bottom: 10px;
}

.row .subtitle{
    color: var(--text);
    padding-top: 10px;
}

.row-cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    
}

.play-hidden{
   /* display: none;  */
   /* position: absolute;
   font-size: 100px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 5; */
   position: absolute;
   font-size: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 4;
}

.card img, .card-circle img{
    width: 100%;
    
}

.card h3{
    margin-top: 10px ;
}

.cell{
    padding: 25px;
    width:calc( 100% / 6 );
}

.circle-img img{
    border-radius: 50%;
}

/* player */
.bottom-nav{
    background-color: var(--gray);
    height: 6rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* content left */
.content-left{
    display: flex;
    align-items: center;
}

.img-playing img{
    width: 60px;
}

.title-playing{
    margin-inline: 15px;
}

.title-playing h5{
    color: white;
}

.icon-playing{
    margin-inline: 10px;
   
}

.icon-playing i{
    vertical-align: -webkit-baseline-middle;
    margin-inline:2px ;
}

/* content center */
.content-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.icon-player{
    display: flex;
}

.icon-player i{
    color: white;
    font-size: 30px;
    padding-inline:20px ;
}

.player-line{
    width: 100%;
    max-width: 700px;
    border: 2px solid var(--text);
    border-radius: 20px;
}

/* content right */
.content-right{
    display:flex ;
}

.icon-volume{
    display: flex;
    align-items: center;
}

.icon-volume i{
    margin-inline:10px ;
    color: white;
}

.volume-line{
    width: 100px;
    border:2px solid var(--text);
}


/* effetti */
.upgrade-btn button:hover{
    transform: scale(1.2);
}

ul li a:hover{
    text-decoration: underline;
    color: var(--green);
}

.icone>:hover{
    color: white;
}

.playlist span:hover, .playlist ul li:hover ,.content-bottom span:hover{
    color: white;
}

.title-playing>:hover, .icon-playing i:hover{
    color: white;
    cursor: pointer;
}

.play-hidden:hover{
    display: block;
}

/* media */


@media (max-width:1290px){
    .cell{
        width:calc(100% / 4 );
    }

}


@media (max-width:830px) {
    .cell{
        width:calc(100% / 2 );
    }
}


@media (max-width:600px) {
    .side-nav{
        width: 4rem;
        display: flex;
        padding-left: 0;
    }

    .container{
        padding-left: 4rem;
    }

    .hidden{
        display: none;
    }

    .logo-small{
        display: block;
        width: 40px;
    }

    .content-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .profile img{
        margin-right: 0;
    }

    .install img{
        margin-right: 4px;
    }

    .content-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}